@import "../../../App.scss";

.ModalGeneral {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  background-color: white;
  border: 1px solid #ecf0f1;
  border-radius: 10px;
  box-shadow: 24px 24px grey;

  .ModalHeader {
    border-bottom: 1px solid #ecf0f1;
    padding: 15px;
    text-align: center;

     h2 {
       font-weight: bold;
     }
  }

  .ModalBody {
    padding: 15px;
    img {
      width: 150px;
    }
  }

  .Subtitle {
    font-style: italic;
    font-weight: bolder;
    color: $mainColor;
    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  .ModalButtonsContainer {
    @include flex(null, null, space-between);
    padding: 15px;

    button{
      margin-top: 20px;
      align-items: end;
      height: 33px;
      &:first-child {
        margin-right: 10px;
      }
      img {
        width: 25px;
      }
    }
  }

  .ModalFooter {
    border-top: 1px solid #ecf0f1;
  }
}