$mainColor: #74b9ff;
$lightGrey: #ecf0f1;
$darkGrey: #bdc3c7;
$darkerGrey: #7f8c8d;

// --- MIXINS --- //
@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}
